<div class="tp-container">
  <mat-card>
    <form
      #personForm="ngForm"
      id="personForm"
      (ngSubmit)="updatePerson(personForm.value)"
    >
      <mat-card-header>
            <mat-card-title id="title"
            ><h2>{{ person.name ? "Edit" : "Add" }} Person</h2></mat-card-title
          > 

      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            placeholder="Person ID"
            [(ngModel)]="person.id"
            required
            name="id"
            #id
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Person Name"
            [(ngModel)]="person.name"
            required
            name="name"
            #name
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Person CPF"
            [(ngModel)]="person.cpf"
            required
            name="cpf"
            #cpf
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Person Email"
            [(ngModel)]="person.email"
            required
            name="email"
            #email
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!personForm.form.valid"
        >
          Save
        </button>
        <button
          mat-raised-button
          color="secondary"
          (click)="remove(person.href)"
          *ngIf="person.href"
          type="button"
        >
          Delete
        </button>
        <a mat-button routerLink="/persons">Cancel</a>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
